
      *,
      *::before,
      *::after{
        box-sizing: border-box;
        }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body{
    scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root{
    --background-color: rgb(233, 233, 233, .45);
    --block-color: #7C7C7C;
    --text-color: #FFFFFF;
    --button-color: #325480;
}
    body{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        background-color: var(--background-color);
        line-height: 100%;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    .container{
        width: 100vw;
        height: 100vh;
        background-image: url(/img/bground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .container::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(22, 21, 21, .25);
    }
    .login-container{
        margin-left: auto;
        width: 456px;
        height: 100vh;
        background: var(--background-color);
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        overflow-y: auto;
    }
    .login{
        margin: 0 auto;
        width: 340px;
    }
    .switch{
        display: inline-block;
        position: relative;
        padding-bottom:75px;
    }
    .switch-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switch-label {
        display: inline-flex;
        width: 340px;
        height: 36px;
        border-radius: 100px;
        border: var(--button-color) 1px solid;
        background: var(--background-color);
        position: relative;
    }
    .switch-label::before{
        content: '';
        position: absolute;
        top:1px;
        left: 1px;
        width: 168px;
        height: 32px;
        background: var(--button-color);
        border-radius: 30px;
        transition: all .5s linear;
    }
    .switch-input:checked+ .switch-label::before{
        transform: translate(100%);
    }
    .switch-label span{
        color: var(--text-color);
        font-size: 12px;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .title h1{
        font-size: 30px;
        line-height: 35px;
        color: var(--text-color);
        vertical-align: middle;
        text-align: center;
    }
    .email input{
        width: 340px;
        height: 44px;
        border-radius: 30px;
        background-color: var(--block-color);
        padding: 0 20px;
        color: var(--text-color);
        border: var(--block-color) 1px solid;
    }
    .email input::placeholder{
        color: var(--text-color);
        font-size: 12px;
        line-height: 14px;
    }
    .password input{
        width: 340px;
        height: 44px;
        border-radius: 30px;
        background-color: var(--block-color);
        padding: 0 20px;
        color: var(--text-color);
        border: var(--block-color) 1px solid;
    }
    .password input::placeholder{
        color: var(--text-color);
        font-size: 12px;
        line-height: 14px;
    }
    .email{
        padding-top: 29px;
        margin-bottom: 15px;
    }
    .password{
        padding-bottom: 20px;
    }
    .group{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .checkbox input{
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .checkbox label{
        padding-left: 19px;
        display: inline-block;
        color: var(--button-color);
        font-size: 12px;
        line-height: 14px;
        position: relative;
    }
    .checkbox label::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: var(--button-color) solid 1px;
    }
    .checkbox label::after{
        content: '';
        position: absolute;
        bottom: 5px;
        left: 4px;
        width: 7px;
        height: 12px;
        border-bottom: 2px solid var(--text-color);
        border-right: 2px solid var(--text-color);
        transform: rotate(38deg);
        opacity: 0;
    }
    .checkbox input:checked+label::after{
        opacity: 1;
    }
    .forgot a{
        text-decoration: underline;
        font-size: 12px;
        color: var(--text-color);
    }
    .submit{
        padding: 30px 0 35px;
    }
    #login{
        width: 340px;
        height: 44px;
        border-radius: 30px;
        background-color: var(--button-color);
        border: var(--button-color) 1px solid;
        color: var(--text-color);
    }
    .group2{
        display: flex;
        gap: 33px;
        justify-content: center;
        align-items: center;
        padding-bottom: 35px;
    }
    .group2 h2{
        line-height: 14px;
        font-size: 12px;
        color: var(--button-color);
    }
    .group2 a{
        line-height: 14px;
        font-size: 12px;
        text-decoration: underline;
        color: var(--text-color);
    }
    .or{
        text-align: center;
        color: var(--button-color);
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 24px;
    }
    .hiden{
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .nav{
        display: flex;
        gap: 9px;
        justify-content: center;
        align-items: center;
        max-height: 20px;
    }
    .svg{
        color: var(--button-color);
        width: 20px;
        height: 20px;
    }
    .nav li{
        height: 20px;
    }
    .nav>li>a{
        display: block;
        width: 100%;
        height: 100%;
    }